<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Olvido Contraseña." id="d1">
            <af:form id="f1">
                <af:pageTemplate viewId="/templateInicioSesion.jspx" id="pt1">
                    <f:facet name="center">
                        <af:panelGroupLayout id="pgl1" inlineStyle="height:571px; color:Blue; width:1100px;"
                                             layout="scroll" valign="top" halign="center">
                            <af:panelGroupLayout id="pgl4" layout="horizontal">
                                <af:panelGroupLayout id="pgl3" valign="middle" halign="center" layout="horizontal"
                                                     inlineStyle="margin-top:5%; width:709px; height:309px;">
                                    <af:panelBox text="PanelBox1" id="pb1" showHeader="never">
                                        <af:panelGroupLayout id="pgl2" halign="center" layout="vertical" valign="middle"
                                                             styleClass="margin-top:10%;">
                                            <af:panelFormLayout id="pfl1" inlineStyle="height:289px; width:616px;">
                                                <af:panelGroupLayout id="pgl17">
                                                    <div id="msj" align="justify">
                                                        <div id="info_new_user">
                                                            <h2 class="text_user">Olvidó su contraseña?</h2>
                                                            <p class="formato_texto_etiquetas">Escriba su dirección de
                                                                                               correo electrónico. Si la
                                                                                               dirección existe en
                                                                                               nuestro registro, le
                                                                                               enviaremos su nombre de
                                                                                               usuario y una contraseña
                                                                                               nueva.</p>
                                                            <p class="formato_texto_etiquetas">Como las contraseñas se
                                                                                               almacenan de una forma
                                                                                               codificada, no podemos
                                                                                               saber su contraseña
                                                                                               original, ni nadie mas
                                                                                               puede hacerlo, por esta
                                                                                               razón se generará una
                                                                                               nueva contraseña para su
                                                                                               cuenta.</p>
                                                        </div>
                                                    </div>
                                                    <af:spacer width="10" height="30" id="s2"/>
                                                </af:panelGroupLayout>
                                                <af:panelGroupLayout id="pgl5" layout="vertical">
                                                    <af:panelGroupLayout id="pgl15">
                                                        <af:panelFormLayout id="pfl2" labelAlignment="start">
                                                            <f:facet name="footer"/>
                                                            <af:inputText label="Nombre del Usuario (CURP):" id="it2"
                                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:18px; width:300px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                                          required="true" value="#{LoginBean.curp}"
                                                                          validator="#{LoginBean.validarLongitud}"
                                                                          binding="#{LoginBean.bindSeguroSocial}"/>
                                                            <af:spacer width="10" height="20" id="s3"/>
                                                            <af:inputText label="Correo electrónico:" id="it1"
                                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:18px; width:300px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                                          showRequired="true"
                                                                          validator="#{LoginBean.validarCorreo}"
                                                                          requiredMessageDetail="Debe ingresar un correo electrónico."
                                                                          value="#{LoginBean.correoElectronico}"
                                                                          binding="#{LoginBean.bindCorreo}"/>
                                                            <af:spacer width="10" height="20" id="s1"/>
                                                        </af:panelFormLayout>
                                                    </af:panelGroupLayout>
                                                    <af:panelGroupLayout id="pgl16" halign="center" valign="bottom"
                                                                         layout="horizontal">
                                                        <af:commandButton text="ENVIAR CONTRASEÑA" id="cb2"
                                                                          binding="#{LoginBean.binbBotonAceptar}"
                                                                          actionListener="#{LoginBean.OlvidoContraseña}"
                                                                          inlineStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"/>
                                                        <af:spacer width="10" height="10" id="s7"/>
                                                        <af:commandButton text="CANCELAR" id="cb1"
                                                                          action="#{LoginBean.cancelaPass}"
                                                                          partialSubmit="true" immediate="true"
                                                                          inlineStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"/>
                                                    </af:panelGroupLayout>
                                                </af:panelGroupLayout>
                                                <af:popup childCreation="deferred" autoCancel="disabled" id="p1"
                                                          binding="#{LoginBean.popCredencialesIncorrectas}">
                                                    <af:dialog id="d2">
                                                        <f:facet name="buttonBar"/>
                                                        <af:panelHeader text="Credenciales Incorrectas" id="ph1"
                                                                        messageType="error">
                                                            <f:facet name="context"/>
                                                            <f:facet name="menuBar"/>
                                                            <f:facet name="toolbar"/>
                                                            <f:facet name="legend"/>
                                                            <f:facet name="info"/>
                                                            <af:outputText value="El usuario o la contraseña son incorrectas."
                                                                           id="ot1" styleClass="color"
                                                                           inlineStyle="color:Olive; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:large;"/>
                                                        </af:panelHeader>
                                                    </af:dialog>
                                                </af:popup>
                                            </af:panelFormLayout>
                                        </af:panelGroupLayout>
                                    </af:panelBox>
                                </af:panelGroupLayout>
                            </af:panelGroupLayout>
                        </af:panelGroupLayout>
                    </f:facet>
                </af:pageTemplate>
            </af:form>
            <af:popup childCreation="deferred" autoCancel="disabled" id="p11" binding="#{LoginBean.popOk}">
                <af:dialog id="d11" type="ok">
                    <f:facet name="buttonBar"/>
                    <af:panelHeader text="Satisfactorio" id="ph10" messageType="confirmation">
                        <f:facet name="context"/>
                        <f:facet name="menuBar"/>
                        <f:facet name="toolbar"/>
                        <f:facet name="legend"/>
                        <f:facet name="info"/>
                        <af:outputText value="Correo enviado satisfactoriamente." id="ot777"
                                       inlineStyle="color:Olive; font-size:medium;"/>
                    </af:panelHeader>
                </af:dialog>
            </af:popup>
        </af:document>
    </f:view>
</jsp:root>
