<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich" xmlns:h="http://java.sun.com/jsf/html">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Inicio de Sesion" id="d1">
            <af:form id="f1">
                <af:pageTemplate viewId="/templateInicioSesion.jspx" id="pt1">
                    <f:facet name="center">
                        <af:panelGroupLayout id="pgl1" inlineStyle="height:571px; color:Blue; width:1100px;"
                                             layout="scroll" valign="top" halign="center">
                            <af:panelGroupLayout id="pgl4" layout="horizontal">
                                <af:panelGroupLayout id="pgl3" valign="middle" halign="center" layout="horizontal"
                                                     inlineStyle="margin-top:5%; width:709px; height:309px;">
                                    <af:panelBox text="PanelBox1" id="pb1" showHeader="never">
                                        <f:facet name="toolbar"/>
                                        <af:panelGroupLayout id="pgl2" halign="center" layout="vertical" valign="middle"
                                                             styleClass="margin-top:10%;">
                                            <h:outputLabel value="Consulta de Comprobante" id="ol2"
                                                           style="color:Orange; font-size:16px;"/>
                                            <af:panelFormLayout id="pfl1" inlineStyle="height:289px; width:616px;">
                                                <af:panelGroupLayout id="pgl17" layout="vertical" valign="baseline">
                                                    <div id="msj" align="justify">Para acceder al servicio de consulta e
                                                                                  impresión de comprobantes de pago se
                                                                                  requiere tener a la mano los dos
                                                                                  elementos de identificación y
                                                                                  seguridad. Este servicio le permite
                                                                                  visualizar, guardar e imprimir su(s)
                                                                                  comprobante(s) de pago. La clave de
                                                                                  seguridad es para aumentar la
                                                                                  confidencialidad en la consulta de su
                                                                                  nómina.</div>
                                                    <af:spacer width="10" height="10" id="s11"/>
                                                    <af:panelGroupLayout id="pgl18" halign="center" valign="top"
                                                                         layout="vertical" inlineStyle="width:474px;">
                                                        <af:panelGroupLayout id="pgl20" layout="horizontal"
                                                                             inlineStyle="width:547px;">
                                                            <af:commandImageLink text="Descargar Manual." id="cil1"
                                                                                 icon="/Imagenes/pdfIcon.png"
                                                                                 shortDesc="Descargar Manual."
                                                                                 immediate="true"
                                                                                 binding="#{descargarManualPDF.manualPDF}"
                                                                                 partialSubmit="true">
                                                                <af:fileDownloadActionListener filename="#{descargarManualPDF.arhivoPdf}"
                                                                                               method="#{descargarManualPDF.descargarPDFs}"/>
                                                            </af:commandImageLink>
                                                            <af:panelFormLayout id="pfl2" inlineStyle="width:491px;"
                                                                                labelAlignment="start">
                                                                <f:facet name="footer"/>
                                                                <af:inputText label="Teclee su Usuario(CURP): " id="it3"
                                                                              inlineStyle="color:Black;"
                                                                              labelStyle="color:Black;font-size:12px;"
                                                                              required="true"
                                                                              value="#{LoginBean.usuario}"
                                                                              contentStyle="width:200px;color:black;font-size:12px;"
                                                                              autoSubmit="true"/>
                                                                <af:spacer width="10" height="10" id="s8"/>
                                                                <af:inputText label="Teclee su Contraseña:" id="it354"
                                                                              secret="true"
                                                                              labelStyle="color:Black;font-size:12px;"
                                                                              required="true"
                                                                              value="#{LoginBean.password}"
                                                                              contentStyle="width:200px;color:black;font-size:12px;"
                                                                              autoSubmit="true"/>
                                                                <af:spacer width="10" height="10" id="s9"/>
                                                                <af:commandButton text="ENTRAR" id="cb1"
                                                                                  action="#{LoginBean.logueaUsuario}"
                                                                                  binding="#{LoginBean.botonAcceso}"
                                                                                  inlineStyle="width:60px;"/>
                                                            </af:panelFormLayout>
                                                        </af:panelGroupLayout>
                                                    </af:panelGroupLayout>
                                                </af:panelGroupLayout>
                                                <af:panelGroupLayout id="pgl5" layout="horizontal">
                                                    <af:panelBox text="Registro del empleado." id="pb4"
                                                                 inlineStyle="height:94px;">
                                                        <f:facet name="toolbar"/>
                                                        <p>
                                                            <af:commandLink text="REGISTRATE" id="cl1"
                                                                            partialSubmit="true" immediate="true"
                                                                            action="#{LoginBean.realizarAltaTrabajador}"/>
                                                        </p>
                                                        <af:panelGroupLayout id="pgl19">
                                                            Mediante esta opción, el usuario puede darse de alta en
                                                            portal para poder consultar su recibo, asi como descargar
                                                            su representación impresa o enviarselo a un correo.
                                                        </af:panelGroupLayout>
                                                    </af:panelBox>
                                                    <af:panelGroupLayout id="pgl15">
                                                        <af:spacer width="10" height="100" id="s1"/>
                                                    </af:panelGroupLayout>
                                                    <af:panelGroupLayout id="pgl16">
                                                        <af:spacer width="10" height="10" id="s7"/>
                                                    </af:panelGroupLayout>
                                                </af:panelGroupLayout>
                                                <af:popup childCreation="deferred" autoCancel="disabled" id="p1"
                                                          binding="#{LoginBean.popCredencialesIncorrectas}">
                                                    <af:dialog id="d2">
                                                        <f:facet name="buttonBar"/>
                                                        <af:panelHeader text="Credenciales Incorrectas" id="ph1"
                                                                        messageType="error">
                                                            <f:facet name="context"/>
                                                            <f:facet name="menuBar"/>
                                                            <f:facet name="toolbar"/>
                                                            <f:facet name="legend"/>
                                                            <f:facet name="info"/>
                                                            <af:outputText value="El usuario o la contraseña son incorrectas."
                                                                           id="ot1" styleClass="color"
                                                                           inlineStyle="color:Olive; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:large;"/>
                                                        </af:panelHeader>
                                                    </af:dialog>
                                                </af:popup>
                                            </af:panelFormLayout>
                                            <af:panelGroupLayout id="pgl6" layout="horizontal">
                                                <af:panelGroupLayout id="pgl7">
                                                    <af:panelBox text="Cambio de Contraseña" id="pb2"
                                                                 inlineStyle="width:300px; height:180px;"
                                                                 type="stretch">
                                                        <f:facet name="toolbar"/>
                                                        <af:panelGroupLayout id="pgl13" layout="vertical">
                                                            <af:panelGroupLayout id="pgl9">
                                                                <af:commandLink text="CAMBIO DE CONTRASEÑA" id="cl2"
                                                                                partialSubmit="true" immediate="true"
                                                                                action="#{LoginBean.cambioPass}"/>
                                                            </af:panelGroupLayout>
                                                            <af:spacer width="10" height="10" id="s3"/>
                                                            <af:spacer width="10" height="10" id="s4"/>
                                                            <af:panelGroupLayout id="pgl11">Mediante esta opción, el
                                                                                            usuario puede cambiar la
                                                                                            contraseña de origen y optar
                                                                                            por una personal, misma que
                                                                                            deberá estar conformada por
                                                                                            un mínimo de 6 caracteres.
                                                                                            En caso de anotar
                                                                                            incorrectamente la dirección
                                                                                            de correo no podrá recibir
                                                                                            su recuperación, en el caso
                                                                                            de requerirla.</af:panelGroupLayout>
                                                        </af:panelGroupLayout>
                                                    </af:panelBox>
                                                </af:panelGroupLayout>
                                                <af:spacer width="10" height="10" id="s10"/>
                                                <af:panelGroupLayout id="pgl8">
                                                    <af:panelBox text="Recuperación de Contraseña" id="pb3"
                                                                 inlineStyle="width:300px; height:180px;"
                                                                 type="stretch">
                                                        <f:facet name="toolbar"/>
                                                        <af:panelGroupLayout id="pgl14" layout="vertical">
                                                            <af:panelGroupLayout id="pgl10">
                                                                <af:commandLink text="RECUPERACIÓN DE CONTRASEÑA"
                                                                                id="cl3"
                                                                                action="#{LoginBean.RecuperaPass}"
                                                                                partialSubmit="true" immediate="true"/>
                                                            </af:panelGroupLayout>
                                                            <af:spacer width="10" height="10" id="s5"/>
                                                            <af:spacer width="10" height="10" id="s6"/>
                                                            <af:panelGroupLayout id="pgl12">En caso de olvido o extravío
                                                                                            de la contraseña personal el
                                                                                            usuario puede recuperarla de
                                                                                            forma inmediata, la
                                                                                            contraseña se enviará a la
                                                                                            dirección de correo
                                                                                            electrónico registrada.</af:panelGroupLayout>
                                                        </af:panelGroupLayout>
                                                    </af:panelBox>
                                                </af:panelGroupLayout>
                                            </af:panelGroupLayout>
                                        </af:panelGroupLayout>
                                    </af:panelBox>
                                </af:panelGroupLayout>
                            </af:panelGroupLayout>
                        </af:panelGroupLayout>
                        
                    </f:facet>
                    <af:resource type="javascript">
              function enter(event) {
                  alert('function called....')
                  var keyCodePressed = event.getKeyCode();
                  if (keyCodePressed == AdfKeyStroke.ENTER_KEY || keyCodePressed == AdfKeyStroke.TAB_KEY) {
                      alert('Do some thing here....')
                  }

              }
            </af:resource>
                </af:pageTemplate>
            </af:form>
            
        </af:document>
    </f:view>
</jsp:root>
