<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:f="http://java.sun.com/jsf/core">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <af:pageTemplateDef var="attrs" definition="private">
        <af:panelStretchLayout id="pt_psl1" topHeight="90px" startWidth="189px" bottomHeight="58px"
                               inlineStyle="background-color:rgb(234,234,234); border-style:solid; border-width:thick; border-color:rgb(82,198,255);" >
            <f:facet name="center">
                <af:panelGroupLayout layout="scroll" id="pt_pgl6" inlineStyle="margin:10px;">
                    <af:facetRef facetName="center"/>
                    <af:spacer width="10" height="10" id="pt_s3"/>
                </af:panelGroupLayout>
            </f:facet>
            <f:facet name="start">
                <af:panelGroupLayout layout="scroll" id="pt_pgl2">
                    <af:spacer width="10" height="10" id="pt_s1"/>
                    <af:panelGroupLayout id="pt_pgl1" inlineStyle="height:541px;">
                        <af:panelBox text="Herramientas" id="pt_pb1" showDisclosure="false" inlineStyle="height:460px;">
                            <f:facet name="toolbar"/>
                            <af:panelGroupLayout id="pt_pgl7" inlineStyle="height:210px; width:149px;"
                                                 layout="horizontal">
                                <af:spacer width="10" height="10" id="pt_s12"/>
                                <af:panelGroupLayout id="pt_pgl14" layout="vertical">
                                    <af:spacer width="10" height="10" id="pt_s11"/>
                                    <af:commandLink text="RECIBOS" id="pt_cl1"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"

                                                    binding="#{LoginBean.linkRecibos}"
                                                    action="#{LoginBean.getPaginaNomina}" immediate="true"/>


                                    <af:spacer width="10" height="10" id="pt_s4"/>
                                    <af:commandLink text="EMPLEADOS" id="pt_cl2"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"
                                                    action="#{altaTrabajadorClass.adminTrabajadorLink}"
                                                   binding="#{LoginBean.linkEmpleados}" immediate="true"/>
                                    <af:spacer width="10" height="10" id="pt_s6"/>
                                    <af:commandLink text="SUCURSALES" id="pt_cl4"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"
                                                    binding="#{LoginBean.linkSucursales}"
                                                    action="#{LoginBean.paginaSucursales}" immediate="true"/>
                                    <af:spacer width="10" height="10" id="pt_s7"/>
                                    <af:commandLink text="CONSULTAS" id="pt_cl5"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"

                                                    binding="#{LoginBean.linkCorreo}" action="#{LoginBean.getPaginaRecibos}"  immediate="true"/>

                                                    

                                    <af:spacer width="10" height="10" id="pt_s8"/>
                                    <af:commandLink text="DISEÑO" id="pt_cl3"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"
                                                    action="#{altaTrabajadorClass.logoEmpresaLink}"
                                                    binding="#{LoginBean.linkDisenio}" immediate="true"/>
                                    <af:spacer width="10" height="10" id="pt_s9"/>
                                    <af:commandLink text="ROLES" id="pt_cl6"
                                                    inlineStyle="font-style:inherit; font-weight:bold; font-size:larger;"
                                                    binding="#{LoginBean.linkRoles}"
                                                    action="#{LoginBean.regresaRoles}" immediate="true"/>
                                    <af:spacer width="10" height="10" id="pt_s10"/>
                                </af:panelGroupLayout>
                            </af:panelGroupLayout>
                        </af:panelBox>
                    </af:panelGroupLayout>
                </af:panelGroupLayout>
            </f:facet>
            <f:facet name="end"/>
            <f:facet name="top">
                <af:panelGroupLayout id="pt_pgl5" layout="horizontal" inlineStyle="font-size:100%;">
                    <af:panelBox text="Logo" id="pt_pb3" showHeader="never"
                                 inlineStyle="height:90px; font-size:150%; width:692px;">
                        <f:facet name="toolbar"/>
                        <af:spacer width="238" height="10" id="pt_s2"/>
                        <af:image source="/muestrafotoe?rfc=#{ComplementosComprobante.rfcImagen}" shortDesc="Logo"
                                  id="pt_i1" inlineStyle="margin:auto; height:62px; width:197px;"/>
                    </af:panelBox>
                    <af:panelBox text="PanelBox1" id="pt_pb2" showHeader="never"
                                 showDisclosure="false" inlineStyle="height:100px; font-size:150%; width:650px;">
                        <f:facet name="toolbar"/>
                        <af:panelGroupLayout id="pt_pgl9" layout="horizontal">
                            <af:panelGroupLayout id="pt_pgl10">
                                <af:outputFormatted value="EN SESIÓN:" id="pt_of1"/>
                            </af:panelGroupLayout>
                            <af:panelGroupLayout id="pt_pgl11" inlineStyle="height:45px;">
                                <af:outputText value="#{ComplementosComprobante.sesionUser}" id="pt_ot1"/>
                            </af:panelGroupLayout>
                        </af:panelGroupLayout>
                        <af:panelGroupLayout id="pt_pgl12">
                            <af:commandImageLink text="Cerrar Sesión" id="pt_cil7"
                                                 inlineStyle="color:Black; font-size:small; font-family:Verdana, Arial, Helvetica, sans-serif;"
                                                 immediate="true" action="#{cerrarsesion.cerrarSession}"/>
                        </af:panelGroupLayout>
                        <af:spacer width="70" height="42" id="pt_s5"/>
                    </af:panelBox>
                </af:panelGroupLayout>
            </f:facet>
        </af:panelStretchLayout>
        <af:xmlContent>
            <component xmlns="http://xmlns.oracle.com/adf/faces/rich/component">
                <display-name>templateGeneral</display-name>
                <facet>
                    <facet-name>
                        center
                    </facet-name>
                </facet>
            </component>
        </af:xmlContent>
    </af:pageTemplateDef>
</jsp:root>
