<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich" xmlns:h="http://java.sun.com/jsf/html">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="Nomina" id="d1">
            <af:form id="f1">
                <af:pageTemplate viewId="/templateGeneral.jspx" id="pt1">
                    <f:facet name="center">
                        <af:group id="g1">
                            <af:panelBox id="pb1" showDisclosure="false" inlineStyle="height:592px;">
                                <f:facet name="toolbar"/>
                                <af:panelGroupLayout id="pgl2" inlineStyle="height:489px; width:909px;"
                                                     layout="vertical">
                                    <h1 align="center">CONSULTA DE NÓMINA</h1>
                                    <af:panelGroupLayout id="pgl14" inlineStyle="height:40px; width:1036px;"
                                                         layout="horizontal" rendered="true" valign="top">
                                        <af:panelGroupLayout id="pgl5" inlineStyle="width:438px;">
                                            <af:selectOneChoice label="Patrón de Búsqueda :" id="soc2"
                                                                valueChangeListener="#{SuggestionsBean.buscarX}"
                                                                contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:18px; width:180px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                                labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                                autoSubmit="true"
                                                                value="#{SuggestionsBean.patronBuscar}"
                                                                unselectedLabel="[ SELECCIONA UNA OPCIÓN ]"
                                                                immediate="true" inlineStyle="text-align:left;"
                                                                validator="#{SuggestionsBean.validaBuscar}">
                                                <af:selectItem label="EMPLEADO" value="1" id="si2"/>
                                                <af:selectItem label="RFC" value="2" id="si7"/>
                                                <af:selectItem label="CURP" value="3" id="si8"/>
                                                <af:selectItem label="NUM. DE SEGURIDAD SOCIAL" value="4" id="si9"/>
                                                <af:selectItem label="UUID" value="5" id="si10"/>
                                                <af:selectItem label="FECHA PAGO" value="6" id="si11"/>
                                                <af:selectItem label="RECIBOS ACTIVOS" value="8" id="si13"/>
                                                <af:selectItem label="RECIBOS CANCELADOS" value="9" id="si14"/>
                                                <af:selectItem label="EMPLEADOS ELIMINADOS" value="10" id="si15"/>
                                                <af:selectItem label="TODOS" value="7" id="si12"/>
                                                <af:clientListener method="enter" type="valueChange"/>
                                            </af:selectOneChoice>
                                            <!---  -->
                                        </af:panelGroupLayout>
                                        <af:panelFormLayout id="pfl1" inlineStyle="width:543px; height:46px;">
                                            <af:inputText label="UUID :" id="it2" value="#{SuggestionsBean.UUID}"
                                                          validator="#{SuggestionsBean.validaBuscar}"
                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                          binding="#{SuggestionsBean.beanUUID}" visible="false"
                                                          partialTriggers="soc2">
                                                <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                            </af:inputText>
                                            <af:inputText label="Empleado :" id="it1"
                                                          value="#{SuggestionsBean.empleado}"
                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                          binding="#{SuggestionsBean.beanEmpleado}" visible="false"
                                                          partialTriggers="soc2">
                                                <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                            </af:inputText>
                                            <af:outputLabel value="Fecha de Pago" id="ol1" partialTriggers="soc2"
                                                            visible="false" binding="#{SuggestionsBean.beanlebelFecha}"
                                                            inlineStyle="color:Black;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"/>
                                            <af:inputText label="Número de Seguridad Social :" id="it4"
                                                          value="#{SuggestionsBean.numSS}"
                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                          binding="#{SuggestionsBean.beanNSS}" visible="false"
                                                          partialTriggers="soc2">
                                                <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                            </af:inputText>
                                            <af:inputText label="CURP :" id="it8" value="#{SuggestionsBean.curp}"
                                                          binding="#{SuggestionsBean.beanCurp}" visible="false"
                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                          partialTriggers="soc2">
                                                <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                            </af:inputText>
                                            <af:inputText label="RFC :" id="it9" value="#{SuggestionsBean.rfc}"
                                                          binding="#{SuggestionsBean.beanRFC}" visible="false"
                                                          contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                          labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                          partialTriggers="soc2">
                                                <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                            </af:inputText>
                                            <af:commandButton text="Buscar" id="cb1"
                                                              action="#{SuggestionsBean.cb1_actionConsulta}"
                                                              partialTriggers="soc2"
                                                              binding="#{SuggestionsBean.bottonBuscar}"
                                                              visible="false"/>
                                            <af:panelGroupLayout id="pgl6" inlineStyle="height:38px; width:277px;"
                                                                 layout="horizontal">
                                                <af:inputDate label="Inicial :" id="id1"
                                                              contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                              labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                              value="#{SuggestionsBean.finicial}"
                                                              binding="#{SuggestionsBean.beanFinicial}" visible="false"
                                                              partialTriggers="soc2">
                                                    <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                                </af:inputDate>
                                                <af:inputDate label="Final :" id="id2" value="#{SuggestionsBean.ffinal}"
                                                              contentStyle="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;height:15px; width:250px;text-align:center;border-color:Silver; border-style:solid; border-width:thin;"
                                                              labelStyle="color:Black; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;"
                                                              binding="#{SuggestionsBean.beanFfinal}" visible="false"
                                                              partialTriggers="soc2">
                                                    <af:autoSuggestBehavior suggestedItems="#{SuggestionsBean.getSuggestions}"/>
                                                </af:inputDate>
                                                <af:commandButton text="Buscar" id="cb2"
                                                                  action="#{SuggestionsBean.cb1_actionConsulta}"
                                                                  partialTriggers="soc2"
                                                                  binding="#{SuggestionsBean.bottonBuscarFecha}"
                                                                  visible="false"/>
                                            </af:panelGroupLayout>
                                        </af:panelFormLayout>
                                    </af:panelGroupLayout>
                                    <af:outputLabel value="RECIBOS" id="ol3" inlineStyle="color:Black;"
                                                    binding="#{SuggestionsBean.labelRecibosEncontradosV}"
                                                    partialTriggers="cb1"/>
                                    <af:separator id="s1"/>
                                    <af:panelCollection id="pc1" inlineStyle="width:1082px;">
                                        <f:facet name="menus"/>
                                        <f:facet name="toolbar"/>
                                        <f:facet name="statusbar"/>
                                        <af:table var="row" rowBandingInterval="0" id="t1" width="1250"
                                                  value="#{SuggestionsBean.muestraConsulta}" rowSelection="single"
                                                  inlineStyle="height:330px;" filterVisible="true"
                                                  binding="#{SuggestionsBean.tablaConsulta}">
                                            <af:column sortable="false" headerText="UUID" id="c2" width="235">
                                                <af:outputText value="#{row.recibo.uuid}" id="ot2"/>
                                            </af:column>
                                            <af:column sortable="false" headerText="FECHA INICIAL PAGO" id="c3"
                                                       width="95">
                                                <af:outputText value="#{row.recibo.fechaInicialPago}" id="ot3"/>
                                            </af:column>
                                            <af:column sortable="false" headerText="FECHA FINAL PAGO" id="c4"
                                                       width="95">
                                                <af:outputText value="#{row.recibo.fechaFinalPago}" id="ot4"/>
                                            </af:column>
                                             <af:column sortable="false" headerText="FECHA PAGO" id="c6" width="110">
                                                <af:outputText value="#{row.recibo.fechaPago}" id="ot6"/>
                                            </af:column>
                                            
                                            <af:column sortable="false" headerText="CURP" id="c5" width="110">
                                                <af:outputText value="#{row.trabajador.curp}" id="ot5"/>
                                            </af:column>
                                           
                                            <af:column sortable="false" headerText="EMPLEADO" id="c8" width="209">
                                                <af:outputText value="#{row.trabajador.nombre}" id="ot8"/>
                                            </af:column>
                                            <af:column sortable="false" headerText="FECHA CONSULTA" align="center" id="c17"
                                                       width="115" binding="#{SuggestionsBean.columnaEstatus}"
                                                       visible="true">
                                                <af:outputText value="#{row.recibo.fechaConsulta}" id="ot17"/>
                                            </af:column>
                                            <af:column sortable="false" headerText="CANCELAR" align="center" id="c10"
                                                       width="73" visible="false">
                                                <af:column id="c145" headerText="Seleccionar" align="center" width="71"
                                                           visible="true">
                                                    <af:selectBooleanCheckbox id="sbc1"
                                                                              valueChangeListener="#{SuggestionsBean.listenerCancelar}"
                                                                              autoSubmit="true"
                                                                              binding="#{SuggestionsBean.checkBoxCancela}"/>
                                                </af:column>
                                            </af:column>
                                        </af:table>
                                    </af:panelCollection>
                                    <!-- -->
                                    <af:panelGroupLayout id="pgl1" inlineStyle="width:597px; height:74px;">
                                        <af:commandButton text="Exportar datos a Excel" id="cb11" immediate="true"
                                                          visible="false" icon="#{resource['images:excel_logo.gif']}"
                                                          binding="#{SuggestionsBean.exportarExcel}">
                                            <af:exportCollectionActionListener type="excelHTML" exportedId="pc1:t1"
                                                                               filename="#{SuggestionsBean.fileName}"
                                                                               title="Reporte" exportedRows="all"/>
                                        </af:commandButton>
                                        <af:commandButton text="Descargar PDFs" id="cb4"
                                                          binding="#{SuggestionsBean.exportarPDF}" visible="false"
                                                          icon="/Imagenes/ver_pdf.png">
                                            <af:fileDownloadActionListener method="#{SuggestionsBean.descargarPDFs}"
                                                                           filename="#{SuggestionsBean.arhivoPdf}"/>
                                        </af:commandButton>
                                        <af:commandButton text="CANCELAR" id="cb314" partialSubmit="true"
                                                          actionListener="#{SuggestionsBean.cancelarCFDI}"
                                                          inlineStyle="font-family:Arial, Helvetica, sans-serif; color:rgb(188,0,0); font-weight:bold; font-size:small;"
                                                          binding="#{SuggestionsBean.botonCancelacion}"
                                                          visible="false"/>
                                    </af:panelGroupLayout>
                                </af:panelGroupLayout>
                                <af:panelGroupLayout id="pgl64">
                                    <af:commandButton text="First" id="cb21"
                                                      actionListener="#{SuggestionsBean.firstActionListener}"
                                                      disabled="#{SuggestionsBean.beforeDisabled}"/>
                                    <af:commandButton text="Prev" id="cb24"
                                                      actionListener="#{SuggestionsBean.previousActionListener}"
                                                      disabled="#{SuggestionsBean.beforeDisabled}"/>
                                    <af:commandButton text="Next" id="cb34"
                                                      actionListener="#{SuggestionsBean.nextActionListener}"
                                                      disabled="#{SuggestionsBean.afterDisabled}"/>
                                    <af:commandButton text="Last" id="cb44"
                                                      actionListener="#{SuggestionsBean.lastActionListener}"
                                                      disabled="#{SuggestionsBean.afterDisabled}"/>
                                    <af:spacer width="10" height="10" id="s54"/>
                                    <af:outputText value="Page #{SuggestionsBean.currentPage} / #{SuggestionsBean.totalPages}"/>
                                    <af:spacer width="500" height="10" id="s21"/>
                                </af:panelGroupLayout>
                            </af:panelBox>
                        </af:group>
                    </f:facet>
                    <af:resource type="javascript">
                      function enter(event) {
                          document.getElementById("it8").disabled = true;
                          var keyCodePressed = event.getKeyCode();
                      }
                    </af:resource>
                </af:pageTemplate>
                <af:popup childCreation="deferred" autoCancel="disabled" id="p6"
                          binding="#{SuggestionsBean.popupAvisoCancela}">
                    <af:dialog id="d16" type="ok" closeIconVisible="false"
                               dialogListener="#{SuggestionsBean.dialogCancelar}">
                        <f:facet name="buttonBar"/>
                        <af:panelHeader text="Aviso" id="ph7" messageType="warning">
                            <f:facet name="context"/>
                            <f:facet name="menuBar"/>
                            <f:facet name="toolbar"/>
                            <f:facet name="legend"/>
                            <f:facet name="info"/>
                            <af:panelGroupLayout id="pgl38" layout="vertical" inlineStyle="width:503px; height:41px;"
                                                 halign="center">
                                <af:spacer width="10" height="3" id="s56"/>
                                <af:outputText id="ot25"
                                               inlineStyle="font-size:medium; font-family:Arial, Helvetica, sans-serif;"
                                               value="#{SuggestionsBean.mensajeCancelacion}"/>
                            </af:panelGroupLayout>
                        </af:panelHeader>
                    </af:dialog>
                </af:popup>
            </af:form>
        </af:document>
    </f:view>
    <!--oracle-jdev-comment:preferred-managed-bean-name:SuggestionsBean-->
</jsp:root>
